<form action="/bye" method="post">
	<h3>
		Name: <input type="text" name="name">
		Rpa1: <input type="submit" value="Submit1" name="namesub1">
</h3>
</form>
<form action="/bye" method="post">
	<h3>
		Rpt2: <input type="submit" value="Submit2" name="namesub2">
	</h3>

</form>
