<!DOCTYPE>
<html lang="es">
	<head>
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<title> Pregunta2 - Admin </title>
	</head>
	<body>

	 	<header >
            <img src="image/preg2.png" onmouseover="this.src='image/preg3.png';" onmouseout="this.src='image/preg2.png';" />
        </header>
			
			<form id="Atras" action="/" method="get">
				<input type="image" value="Atras" src="image/atras.png" onmouseover="this.src='image/atras1.png';" onmouseout="this.src='image/atras.png';" width="170">
			</form>

	<div id="posicionBloque"><br>
       
			<p class="colorRojo">{{estado}}</p>
			<form action="/crearpregunta" method="post">
				<div id="inline">
					<p>CREAR PREGUNTA:</p> 
					<p class="colorRojo">				
				    	<input class="input" type="text" name="question" size="100" required placeholder="Ingrese la Pregunta" autocomplete="off">
				    	<input type="radio" name="categoria" value="Geografia" required=""> Geografia |
						<input type="radio" name="categoria" value="Entretenimiento"> Entretenimiento |
						<input type="radio" name="categoria" value="Deporte"> Deporte |
						<input type="radio" name="categoria" value="Arte"> Arte |
						<input type="radio" name="categoria" value="Historia"> Historia |
						<input type="radio" name="categoria" value="Ciencia"> Ciencia |
		       		</p>
		       </div>
		    
				<input class="input" type="text" name="ans1" size="97" required placeholder="Opcion 1" autocomplete="off">				
				<input class="input" type="text" name="ans2" size="97" required placeholder="Opcion 2" autocomplete="off">		
				<input class="input" type="text" name="ans3" size="97" required placeholder="Opcion 3" autocomplete="off"><br>
				<input class="btn btntamaño" type="submit" value="Crear Pregunta" name="newquestion">
				
		 		<div id="correcta">
					<input type="radio" name="correct" value="1" required width="300"><br><br><br>
					<input type="radio" name="correct" value="2" required><br><br><br>
					<input type="radio" name="correct" value="3" required><br><br>
		 		    <p>Correcta</p>					
				</div>
			</form>	
	</div>
	</body>
</html>



