<!DOCTYPE>
<html lang="es">
	<head>
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<title> Pregunta2 </title>
        <script type="text/javascript" src="javascript/webso.js"></script>
	</head>
	<body>
		<header>
			<br><br>
        	<h1>PREGUNTA2</h1>
        	<br><br>
		</header>
		<br>
		<section>
			<br>
			<h1>{{estado}}</h1>
			<h1>{{estado1}}</h1>
			<h1>{{estado2}}</h1>
			<h1>{{estado3}}</h1>
			<form action="/jugando" method="post">
				<input id="continuarButton" type="submit" value="Continuar" name="{{tipo}}">
			</form>
			<h4> <br> </h4>
			<form action="/jugando" method="post">
				<input type="submit" value="Abandonar" name="{{tipo}}">
			</form>	
			<br><br><br>	
		</section>
	</body>
</html>