<!DOCTYPE>
<html lang="es">
	<head>
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<title> Pregunta2 {{categoria}} </title>
	</head>
	<body>
		<header>
        	<h1> <img src="image/{{categoria}}.png" id="imgjugando" align="left"> PREGUNTA2 - {{categoria}} - {{usuario}}</h1>
        	<p>Vidas: {{vidas}}
        		<br>
        		Puntos: {{puntos}}
        	</p>
        	<br><br>
		</header>
		<br>
		<section>
			<p>{{pregunta}}</p>

			<form action="/jugando" method="post">
				<input class="btn" type="submit" value={{rpta1}} name="ans"> <br>
			</form>	

			<form action="/jugando" method="post">
				<input class="btn" type="submit" value={{rpta2}} name="ans"> <br>			

			</form>	
			
			<form action="/jugando" method="post">
				<input class="btn" type="submit" value={{rpta3}} name="ans"> <br>			
			</form>	

		</section>
	</body>
</html>