<!DOCTYPE>
<html lang="es">
	<head>
	</head>
	<head>
		<title> PREGUNTA2 - Principal </title>
		<link rel="stylesheet" type="text/css" href="css/style.css" />
	</head>
	<body>
		<header>
			<br><br>
        	<h1> PREGUNTA2 </h1>
        	<form action="/principal" method="post">
				<input type="submit" value="Cerrar Sesion" name="exit"> <br>
			</form>	
        	<br><br>
		</header>
		<br>
		<section>
			<h4> {{usuario}} -- {{puntos}} ptos -- {{vidas}} vidas</h4> <br>
			<p>{{estado}}</p>
			<br>
				<form action="/jugando" method="post">
					<input type="submit" value="Jugar" name="comun"> 
				</form>	
				<form action="/ranking" method="get">
					<input type="submit" value="Ranking"> <br>
				</form>
				<form action="/espera" method="get">
					<input type="submit" value="Duelo"> 
				</form>	
				<form action="/principal" method="post">
					<input type="submit" value="Crear pregunta" name="crearpregunta"> <br>
				</form>
				<form action="/principal" method="post">
					<input type="submit" value="Comprar vida" name="comprarvida"> <br>
				</form>
		</section>
	</body>
</html>