<!DOCTYPE>
<html lang="es">
	<head>
		<title> PREGUNTA2 - Ranking </title>
		<link rel="stylesheet" type="text/css" href="css/style.css"/>
	</head>
	<body>
		<header >
        	<img src="image/preg2.png" onmouseover="this.src='image/preg3.png';" onmouseout="this.src='image/preg2.png';" />
		</header>

		<table class="table-fill">
			<thead>
				<tr>
				<th class="text-left">Posicion</th>
				<th class="text-left">Jugador</th>
				<th class="text-left">Puntos</th>
				</tr>
			</thead>

			<tbody class="table-hover">	
				<tr>
					<td class="text-left">1</td> <td class="text-left">{{user0}}</td> <td class="text-left">{{score0}}</td>
				</tr>
				<tr>
					<td class="text-left">2</td> <td class="text-left">{{user1}}</td> <td class="text-left">{{score1}}</td>
				</tr>
				<tr>
					<td class="text-left">3</td> <td class="text-left">{{user2}}</td> <td class="text-left">{{score2}}</td>
				</tr>
				<tr>
					<td class="text-left">4</td> <td class="text-left">{{user3}}</td> <td class="text-left">{{score3}}</td>
				</tr>
				<tr>
					<td class="text-left">5</td> <td class="text-left">{{user4}}</td> <td class="text-left">{{score4}}</td>
				</tr>
				<tr>
					<td class="text-left">6</td> <td class="text-left">{{user5}}</td> <td class="text-left">{{score5}}</td>
				</tr>
				<tr>
					<td class="text-left">7</td> <td class="text-left">{{user6}}</td> <td class="text-left">{{score6}}</td>
				</tr>
				<tr>
					<td class="text-left">8</td> <td class="text-left">{{user7}}</td> <td class="text-left">{{score7}}</td>
				</tr>
				<tr>
					<td class="text-left">9</td> <td class="text-left">{{user8}}</td> <td class="text-left">{{score8}}</td>
				</tr>
				<tr>
					<td class="text-left">10</td> <td class="text-left">{{user9}}</td> <td class="text-left">{{score09}}</td>
				</tr>
			</tbody>
		</table>

		<form id="Atras" action="/" method="get">
			<input type="image" value="Atras" name="exit" src="image/atras.png" onmouseover="this.src='image/atras1.png';" onmouseout="this.src='image/atras.png';" width="170">
		</form>		

	</body>
</html>